In [1]:
import duckdb
import polars as pl
from rich import print
from IPython.display import display
%load_ext rich
con = duckdb.connect()

For the sake of simplicty, we clean out certain aspects of the data before:

In [2]:
df = pl.read_csv('data/all_seasons.csv')
df = df.unique(subset= ["player_name","season"])
qr = """
SELECT
    player_name,
    age,
    team_abbreviation,
    college,
    player_height,
    player_weight,
    draft_year,
    draft_round,
    draft_number,
    season
    FROM df,
    LIMIT 5;
"""
print(
    con.sql(qr).pl()
)

shape: (5, 10)
┌─────────────┬──────┬─────────────┬──────────┬───┬────────────┬────────────┬────────────┬─────────┐
│ player_name ┆ age  ┆ team_abbrev ┆ college  ┆ … ┆ draft_year ┆ draft_roun ┆ draft_numb ┆ season  │
│ ---         ┆ ---  ┆ iation      ┆ ---      ┆   ┆ ---        ┆ d          ┆ er         ┆ ---     │
│ str         ┆ f64  ┆ ---         ┆ str      ┆   ┆ str        ┆ ---        ┆ ---        ┆ str     │
│             ┆      ┆ str         ┆          ┆   ┆            ┆ str        ┆ str        ┆         │
╞═════════════╪══════╪═════════════╪══════════╪═══╪════════════╪════════════╪════════════╪═════════╡
│ Mike Harris ┆ 31.0 ┆ UTA         ┆ Rice     ┆ … ┆ Undrafted  ┆ Undrafted  ┆ Undrafted  ┆ 2013-14 │
│ Mike James  ┆ 27.0 ┆ PHX         ┆ Lamar    ┆ … ┆ Undrafted  ┆ Undrafted  ┆ Undrafted  ┆ 2017-18 │
│ Kevin       ┆ 25.0 ┆ MIN         ┆ None     ┆ … ┆ 1995       ┆ 1          ┆ 5          ┆ 2000-01 │
│ Garnett     ┆      ┆             ┆          ┆   ┆            ┆            ┆            ┆         │
│ Joe Harris  ┆ 27.0 ┆ BKN         ┆ Virginia ┆ … ┆ 2014       ┆ 2          ┆ 33         ┆ 2018-19 │
│ Bojan       ┆ 31.0 ┆ UTA         ┆ None     ┆ … ┆ 2011       ┆ 2          ┆ 31         ┆ 2019-20 │
│ Bogdanovic  ┆      ┆             ┆          ┆   ┆            ┆            ┆            ┆         │
└─────────────┴──────┴─────────────┴──────────┴───┴────────────┴────────────┴────────────┴─────────┘

In [3]:
qr = """
DROP TABLE IF EXISTS players_seasons;

DROP TYPE IF EXISTS season_stats;
CREATE TYPE season_stats AS STRUCT(
    season INTEGER,
    gp INTEGER,
    pts FLOAT,
    reb FLOAT,
    ast FLOAT
);

CREATE TABLE players (
    player_name TEXT,
    age INTEGER,
    team_abbreviation TEXT,
    college TEXT,
    player_height FLOAT,
    player_weight FLOAT,
    draft_year TEXT,
    draft_round TEXT,
    draft_number TEXT,
    season_stats season_stats[],
    current_season INTEGER,
    PRIMARY KEY(player_name, current_season, team_abbreviation, college)
)
"""
con.sql(qr)

In [4]:
qr="""
SELECT
    MIN(season[:4]::INTEGER) AS min_year,
    MAX(season[:4]::INTEGER) AS max_year,
    MIN(season) AS min_year_text,
    MAX(season) AS max_year_text,
FROM read_csv('data/all_seasons.csv')
"""
dfr = con.sql(qr).pl()
display(dfr)

shape: (1, 4)
┌──────────┬──────────┬───────────────┬───────────────┐
│ min_year ┆ max_year ┆ min_year_text ┆ max_year_text │
│ ---      ┆ ---      ┆ ---           ┆ ---           │
│ i32      ┆ i32      ┆ str           ┆ str           │
╞══════════╪══════════╪═══════════════╪═══════════════╡
│ 1996     ┆ 2022     ┆ 1996-97       ┆ 2022-23       │
└──────────┴──────────┴───────────────┴───────────────┘

In [5]:
qr = """
FROM players
LIMIT 5
"""
display(
    con.sql(qr).pl()
)

shape: (0, 11)
┌─────────────┬─────┬────────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ player_name ┆ age ┆ team_abbre ┆ college ┆ … ┆ draft_roun ┆ draft_numb ┆ season_sta ┆ current_se │
│ ---         ┆ --- ┆ viation    ┆ ---     ┆   ┆ d          ┆ er         ┆ ts         ┆ ason       │
│ str         ┆ i32 ┆ ---        ┆ str     ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│             ┆     ┆ str        ┆         ┆   ┆ str        ┆ str        ┆ list[struc ┆ i32        │
│             ┆     ┆            ┆         ┆   ┆            ┆            ┆ t[5]]      ┆            │
╞═════════════╪═════╪════════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
└─────────────┴─────┴────────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [6]:
qr="""
WITH today AS (
    SELECT * FROM df
    WHERE season='1996-97'
)
FROM today
LIMIT 5
"""
display(
    con.sql(qr).pl()
)

shape: (5, 22)
┌─────┬───────────────────┬───────────────────┬──────┬───┬─────────┬────────┬─────────┬─────────┐
│ v0  ┆ player_name       ┆ team_abbreviation ┆ age  ┆ … ┆ usg_pct ┆ ts_pct ┆ ast_pct ┆ season  │
│ --- ┆ ---               ┆ ---               ┆ ---  ┆   ┆ ---     ┆ ---    ┆ ---     ┆ ---     │
│ i64 ┆ str               ┆ str               ┆ f64  ┆   ┆ f64     ┆ f64    ┆ f64     ┆ str     │
╞═════╪═══════════════════╪═══════════════════╪══════╪═══╪═════════╪════════╪═════════╪═════════╡
│ 55  ┆ Jimmy King        ┆ DEN               ┆ 23.0 ┆ … ┆ 0.162   ┆ 0.387  ┆ 0.2     ┆ 1996-97 │
│ 291 ┆ Tony Dumas        ┆ PHX               ┆ 24.0 ┆ … ┆ 0.199   ┆ 0.402  ┆ 0.134   ┆ 1996-97 │
│ 312 ┆ Mario Elie        ┆ HOU               ┆ 33.0 ┆ … ┆ 0.139   ┆ 0.662  ┆ 0.172   ┆ 1996-97 │
│ 325 ┆ Kerry Kittles     ┆ NJN               ┆ 23.0 ┆ … ┆ 0.199   ┆ 0.523  ┆ 0.139   ┆ 1996-97 │
│ 175 ┆ Darrell Armstrong ┆ ORL               ┆ 29.0 ┆ … ┆ 0.222   ┆ 0.525  ┆ 0.308   ┆ 1996-97 │
└─────┴───────────────────┴───────────────────┴──────┴───┴─────────┴────────┴─────────┴─────────┘

In [7]:
qr = """
WITH yesterday AS (
    SELECT * FROM players
    WHERE current_season={current_season}
), today AS (
    SELECT * FROM df
    WHERE season='{season}'
)
SELECT
    COALESCE(t.player_name, y.player_name) AS player_name,
    COALESCE(t.age, y.age) AS age,
    COALESCE(t.team_abbreviation, y.team_abbreviation) AS team_abbreviation,
    COALESCE(t.college, y.college) AS college,
    COALESCE(t.player_height, y.player_height) AS player_height,
    COALESCE(t.player_weight, y.player_weight) AS player_weight,
    COALESCE(t.draft_year, y.draft_year) AS draft_year,
    COALESCE(t.draft_round, y.draft_round) AS draft_round,
    COALESCE(t.draft_number, y.draft_number) AS draft_number,
    -- Update for season_stats
    CASE WHEN y.season_stats IS NULL
        THEN ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    WHEN t.season IS NOT NULL
        THEN y.season_stats || ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    ELSE y.season_stats
    END AS season_stats,
    -- Update for current_season,
    COALESCE(t.season[:4]::INTEGER, y.current_season+1) AS current_season
FROM today t
FULL OUTER JOIN yesterday y
ON t.player_name = y.player_name;
"""
query = qr.format(current_season=1995, season='1996-97')
print(query)
dfr = con.sql(query).pl()
display(dfr.head())

WITH yesterday AS (
    SELECT * FROM players
    WHERE current_season=1995
), today AS (
    SELECT * FROM df
    WHERE season='1996-97'
)
SELECT
    COALESCE(t.player_name, y.player_name) AS player_name,
    COALESCE(t.age, y.age) AS age,
    COALESCE(t.team_abbreviation, y.team_abbreviation) AS team_abbreviation,
    COALESCE(t.college, y.college) AS college,
    COALESCE(t.player_height, y.player_height) AS player_height,
    COALESCE(t.player_weight, y.player_weight) AS player_weight,
    COALESCE(t.draft_year, y.draft_year) AS draft_year,
    COALESCE(t.draft_round, y.draft_round) AS draft_round,
    COALESCE(t.draft_number, y.draft_number) AS draft_number,
    -- Update for season_stats
    CASE WHEN y.season_stats IS NULL
        THEN ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    WHEN t.season IS NOT NULL
        THEN y.season_stats || ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    ELSE y.season_stats
    END AS season_stats,
    -- Update for current_season,
    COALESCE(t.season[:4]::INTEGER, y.current_season+1) AS current_season
FROM today t
FULL OUTER JOIN yesterday y
ON t.player_name = y.player_name;

shape: (5, 11)
┌────────────┬──────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ player_nam ┆ age  ┆ team_abbre ┆ college    ┆ … ┆ draft_roun ┆ draft_num ┆ season_st ┆ current_s │
│ e          ┆ ---  ┆ viation    ┆ ---        ┆   ┆ d          ┆ ber       ┆ ats       ┆ eason     │
│ ---        ┆ f64  ┆ ---        ┆ str        ┆   ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆      ┆ str        ┆            ┆   ┆ str        ┆ str       ┆ list[stru ┆ i32       │
│            ┆      ┆            ┆            ┆   ┆            ┆           ┆ ct[5]]    ┆           │
╞════════════╪══════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ Jimmy King ┆ 23.0 ┆ DEN        ┆ Michigan   ┆ … ┆ 2          ┆ 35        ┆ [{1996,2, ┆ 1996      │
│            ┆      ┆            ┆            ┆   ┆            ┆           ┆ 3.0,1.0,1 ┆           │
│            ┆      ┆            ┆            ┆   ┆            ┆           ┆ .0}]      ┆           │
│ Tony Dumas ┆ 24.0 ┆ PHX        ┆ Missouri-K ┆ … ┆ 1          ┆ 19        ┆ [{1996,24 ┆ 1996      │
│            ┆      ┆            ┆ ansas City ┆   ┆            ┆           ┆ ,3.6,0.7, ┆           │
│            ┆      ┆            ┆            ┆   ┆            ┆           ┆ 1.0}]     ┆           │
│ Mario Elie ┆ 33.0 ┆ HOU        ┆ American   ┆ … ┆ 7          ┆ 160       ┆ [{1996,78 ┆ 1996      │
│            ┆      ┆            ┆ Internatio ┆   ┆            ┆           ┆ ,11.7,3.0 ┆           │
│            ┆      ┆            ┆ nal        ┆   ┆            ┆           ┆ ,4.0}]    ┆           │
│ Kerry      ┆ 23.0 ┆ NJN        ┆ Villanova  ┆ … ┆ 1          ┆ 8         ┆ [{1996,82 ┆ 1996      │
│ Kittles    ┆      ┆            ┆            ┆   ┆            ┆           ┆ ,16.4,3.9 ┆           │
│            ┆      ┆            ┆            ┆   ┆            ┆           ┆ ,3.0}]    ┆           │
│ Darrell    ┆ 29.0 ┆ ORL        ┆ Fayettevil ┆ … ┆ Undrafted  ┆ Undrafted ┆ [{1996,67 ┆ 1996      │
│ Armstrong  ┆      ┆            ┆ le State   ┆   ┆            ┆           ┆ ,6.1,1.1, ┆           │
│            ┆      ┆            ┆            ┆   ┆            ┆           ┆ 2.6}]     ┆           │
└────────────┴──────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [8]:
query_insert = """INSERT INTO players""" + query
con.sql(query_insert)

In [9]:
for year in range(1997,2022):
    season = '-'.join([str(year+1),str(year+2)[2:]])
    query = qr.format(current_season=year, season=season)
    # print(query)
    query_insert = """INSERT INTO players""" + query
    # print(f"Inserted: {season}")
    con.sql(query_insert)

In [10]:
qr = """
SELECT * FROM players
WHERE current_season=2021
AND player_name='Kobe Bryant'
"""
display(
    con.sql(qr).pl()
)

shape: (1, 11)
┌─────────────┬─────┬────────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ player_name ┆ age ┆ team_abbre ┆ college ┆ … ┆ draft_roun ┆ draft_numb ┆ season_sta ┆ current_se │
│ ---         ┆ --- ┆ viation    ┆ ---     ┆   ┆ d          ┆ er         ┆ ts         ┆ ason       │
│ str         ┆ i32 ┆ ---        ┆ str     ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│             ┆     ┆ str        ┆         ┆   ┆ str        ┆ str        ┆ list[struc ┆ i32        │
│             ┆     ┆            ┆         ┆   ┆            ┆            ┆ t[5]]      ┆            │
╞═════════════╪═════╪════════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ Kobe Bryant ┆ 37  ┆ LAL        ┆ None    ┆ … ┆ 1          ┆ 13         ┆ [{1998,50, ┆ 2021       │
│             ┆     ┆            ┆         ┆   ┆            ┆            ┆ 19.9,5.3,3 ┆            │
│             ┆     ┆            ┆         ┆   ┆            ┆            ┆ .8},       ┆            │
│             ┆     ┆            ┆         ┆   ┆            ┆            ┆ {1999…     ┆            │
└─────────────┴─────┴────────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [11]:
qr = """
SELECT
    player_name,
    UNNEST(season_stats) FROM players
WHERE current_season=2021
AND player_name='Kobe Bryant'
"""
display(
    con.sql(qr).pl()
)

shape: (18, 2)
┌─────────────┬─────────────────────────────┐
│ player_name ┆ unnest(season_stats)        │
│ ---         ┆ ---                         │
│ str         ┆ struct[5]                   │
╞═════════════╪═════════════════════════════╡
│ Kobe Bryant ┆ {1998,50,19.9,5.3,3.8}      │
│ Kobe Bryant ┆ {1999,66,22.5,6.3,4.9}      │
│ Kobe Bryant ┆ {2000,68,28.5,5.9,5.0}      │
│ Kobe Bryant ┆ {2001,80,25.200001,5.5,5.5} │
│ Kobe Bryant ┆ {2002,82,30.0,6.9,5.9}      │
│ …           ┆ …                           │
│ Kobe Bryant ┆ {2011,58,27.9,5.4,4.6}      │
│ Kobe Bryant ┆ {2012,78,27.299999,5.6,6.0} │
│ Kobe Bryant ┆ {2013,6,13.8,4.3,6.3}       │
│ Kobe Bryant ┆ {2014,35,22.299999,5.7,5.6} │
│ Kobe Bryant ┆ {2015,66,17.6,3.7,2.8}      │
└─────────────┴─────────────────────────────┘

In [12]:

qr = """
WITH expansion AS (
    SELECT
        player_name,
        UNNEST(season_stats)::season_stats AS season_stats
    FROM players
    WHERE current_season=2021
    AND player_name='Kobe Bryant'
)
SELECT
    player_name,
    season_stats.*
FROM expansion
"""
display(
    con.sql(qr).pl()
)

shape: (18, 6)
┌─────────────┬────────┬─────┬───────────┬─────┬─────┐
│ player_name ┆ season ┆ gp  ┆ pts       ┆ reb ┆ ast │
│ ---         ┆ ---    ┆ --- ┆ ---       ┆ --- ┆ --- │
│ str         ┆ i32    ┆ i32 ┆ f32       ┆ f32 ┆ f32 │
╞═════════════╪════════╪═════╪═══════════╪═════╪═════╡
│ Kobe Bryant ┆ 1998   ┆ 50  ┆ 19.9      ┆ 5.3 ┆ 3.8 │
│ Kobe Bryant ┆ 1999   ┆ 66  ┆ 22.5      ┆ 6.3 ┆ 4.9 │
│ Kobe Bryant ┆ 2000   ┆ 68  ┆ 28.5      ┆ 5.9 ┆ 5.0 │
│ Kobe Bryant ┆ 2001   ┆ 80  ┆ 25.200001 ┆ 5.5 ┆ 5.5 │
│ Kobe Bryant ┆ 2002   ┆ 82  ┆ 30.0      ┆ 6.9 ┆ 5.9 │
│ …           ┆ …      ┆ …   ┆ …         ┆ …   ┆ …   │
│ Kobe Bryant ┆ 2011   ┆ 58  ┆ 27.9      ┆ 5.4 ┆ 4.6 │
│ Kobe Bryant ┆ 2012   ┆ 78  ┆ 27.299999 ┆ 5.6 ┆ 6.0 │
│ Kobe Bryant ┆ 2013   ┆ 6   ┆ 13.8      ┆ 4.3 ┆ 6.3 │
│ Kobe Bryant ┆ 2014   ┆ 35  ┆ 22.299999 ┆ 5.7 ┆ 5.6 │
│ Kobe Bryant ┆ 2015   ┆ 66  ┆ 17.6      ┆ 3.7 ┆ 2.8 │
└─────────────┴────────┴─────┴───────────┴─────┴─────┘

In [13]:
qr = """
DROP TYPE IF EXISTS scoring_class;
CREATE TYPE scoring_class AS ENUM ('star', 'good', 'average', 'bad');
"""
con.sql(qr)
qr = """
DROP TABLE IF EXISTS players;
CREATE TABLE players (
    player_name TEXT,
    age INTEGER,
    team_abbreviation TEXT,
    college TEXT,
    player_height FLOAT,
    player_weight FLOAT,
    draft_year TEXT,
    draft_round TEXT,
    draft_number TEXT,
    season_stats season_stats[],
    scoring_class scoring_class,
    years_since_last_season INTEGER,
    current_season INTEGER,
    PRIMARY KEY(player_name, current_season, team_abbreviation, college)
)
"""
con.sql(qr)

In [14]:
qr = """
WITH yesterday AS (
    SELECT * FROM players
    WHERE current_season={current_season}
), today AS (
    SELECT * FROM df
    WHERE season='{season}'
)
SELECT
    COALESCE(t.player_name, y.player_name) AS player_name,
    COALESCE(t.age, y.age) AS age,
    COALESCE(t.team_abbreviation, y.team_abbreviation) AS team_abbreviation,
    COALESCE(t.college, y.college) AS college,
    COALESCE(t.player_height, y.player_height) AS player_height,
    COALESCE(t.player_weight, y.player_weight) AS player_weight,
    COALESCE(t.draft_year, y.draft_year) AS draft_year,
    COALESCE(t.draft_round, y.draft_round) AS draft_round,
    COALESCE(t.draft_number, y.draft_number) AS draft_number,
    -- Update for season_stats
    CASE WHEN y.season_stats IS NULL
        THEN ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    WHEN t.season IS NOT NULL
        THEN y.season_stats || ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    ELSE y.season_stats
    END AS season_stats,
    -- Scoring
    CASE
        WHEN t.season IS NOT NULL THEN
            CASE
                WHEN t.pts > 20 THEN 'star'
                WHEN t.pts > 15 THEN 'good'
                WHEN t.pts > 10 THEN 'average'
                ELSE 'bad'
            END::scoring_class
        ELSE y.scoring_class
    END AS scoring_class,
    -- Years active
    CASE WHEN t.season IS NOT NULL THEN 0
        ELSE y.years_since_last_season + 1
    END AS years_since_last_season,
    -- Update for current_season,
    COALESCE(t.season[:4]::INTEGER, y.current_season+1) AS current_season
FROM today t
FULL OUTER JOIN yesterday y
ON t.player_name = y.player_name;
"""
query = qr.format(current_season=1995, season='1996-97')
print(query)
dfr = con.sql(query).pl()
display(dfr.head())

WITH yesterday AS (
    SELECT * FROM players
    WHERE current_season=1995
), today AS (
    SELECT * FROM df
    WHERE season='1996-97'
)
SELECT
    COALESCE(t.player_name, y.player_name) AS player_name,
    COALESCE(t.age, y.age) AS age,
    COALESCE(t.team_abbreviation, y.team_abbreviation) AS team_abbreviation,
    COALESCE(t.college, y.college) AS college,
    COALESCE(t.player_height, y.player_height) AS player_height,
    COALESCE(t.player_weight, y.player_weight) AS player_weight,
    COALESCE(t.draft_year, y.draft_year) AS draft_year,
    COALESCE(t.draft_round, y.draft_round) AS draft_round,
    COALESCE(t.draft_number, y.draft_number) AS draft_number,
    -- Update for season_stats
    CASE WHEN y.season_stats IS NULL
        THEN ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    WHEN t.season IS NOT NULL
        THEN y.season_stats || ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    ELSE y.season_stats
    END AS season_stats,
    -- Scoring
    CASE
        WHEN t.season IS NOT NULL THEN
            CASE
                WHEN t.pts > 20 THEN 'star'
                WHEN t.pts > 15 THEN 'good'
                WHEN t.pts > 10 THEN 'average'
                ELSE 'bad'
            END::scoring_class
        ELSE y.scoring_class
    END AS scoring_class,
    -- Years active
    CASE WHEN t.season IS NOT NULL THEN 0
        ELSE y.years_since_last_season + 1
    END AS years_since_last_season,
    -- Update for current_season,
    COALESCE(t.season[:4]::INTEGER, y.current_season+1) AS current_season
FROM today t
FULL OUTER JOIN yesterday y
ON t.player_name = y.player_name;

shape: (5, 13)
┌────────────┬──────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ player_nam ┆ age  ┆ team_abbre ┆ college    ┆ … ┆ season_sta ┆ scoring_c ┆ years_sin ┆ current_s │
│ e          ┆ ---  ┆ viation    ┆ ---        ┆   ┆ ts         ┆ lass      ┆ ce_last_s ┆ eason     │
│ ---        ┆ f64  ┆ ---        ┆ str        ┆   ┆ ---        ┆ ---       ┆ eason     ┆ ---       │
│ str        ┆      ┆ str        ┆            ┆   ┆ list[struc ┆ cat       ┆ ---       ┆ i32       │
│            ┆      ┆            ┆            ┆   ┆ t[5]]      ┆           ┆ i32       ┆           │
╞════════════╪══════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ Jimmy King ┆ 23.0 ┆ DEN        ┆ Michigan   ┆ … ┆ [{1996,2,3 ┆ bad       ┆ 0         ┆ 1996      │
│            ┆      ┆            ┆            ┆   ┆ .0,1.0,1.0 ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ }]         ┆           ┆           ┆           │
│ Tony Dumas ┆ 24.0 ┆ PHX        ┆ Missouri-K ┆ … ┆ [{1996,24, ┆ bad       ┆ 0         ┆ 1996      │
│            ┆      ┆            ┆ ansas City ┆   ┆ 3.6,0.7,1. ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ 0}]        ┆           ┆           ┆           │
│ Mario Elie ┆ 33.0 ┆ HOU        ┆ American   ┆ … ┆ [{1996,78, ┆ average   ┆ 0         ┆ 1996      │
│            ┆      ┆            ┆ Internatio ┆   ┆ 11.7,3.0,4 ┆           ┆           ┆           │
│            ┆      ┆            ┆ nal        ┆   ┆ .0}]       ┆           ┆           ┆           │
│ Kerry      ┆ 23.0 ┆ NJN        ┆ Villanova  ┆ … ┆ [{1996,82, ┆ good      ┆ 0         ┆ 1996      │
│ Kittles    ┆      ┆            ┆            ┆   ┆ 16.4,3.9,3 ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ .0}]       ┆           ┆           ┆           │
│ Darrell    ┆ 29.0 ┆ ORL        ┆ Fayettevil ┆ … ┆ [{1996,67, ┆ bad       ┆ 0         ┆ 1996      │
│ Armstrong  ┆      ┆            ┆ le State   ┆   ┆ 6.1,1.1,2. ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ 6}]        ┆           ┆           ┆           │
└────────────┴──────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [15]:
query = qr.format(current_season=1996, season='1997-98')
print(query)
dfr = con.sql(query).pl()
display(dfr.head())

WITH yesterday AS (
    SELECT * FROM players
    WHERE current_season=1996
), today AS (
    SELECT * FROM df
    WHERE season='1997-98'
)
SELECT
    COALESCE(t.player_name, y.player_name) AS player_name,
    COALESCE(t.age, y.age) AS age,
    COALESCE(t.team_abbreviation, y.team_abbreviation) AS team_abbreviation,
    COALESCE(t.college, y.college) AS college,
    COALESCE(t.player_height, y.player_height) AS player_height,
    COALESCE(t.player_weight, y.player_weight) AS player_weight,
    COALESCE(t.draft_year, y.draft_year) AS draft_year,
    COALESCE(t.draft_round, y.draft_round) AS draft_round,
    COALESCE(t.draft_number, y.draft_number) AS draft_number,
    -- Update for season_stats
    CASE WHEN y.season_stats IS NULL
        THEN ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    WHEN t.season IS NOT NULL
        THEN y.season_stats || ARRAY[ROW(
            t.season[:4]::INTEGER,
            t.gp,
            t.pts,
            t.reb,
            t.ast
        )::season_stats]
    ELSE y.season_stats
    END AS season_stats,
    -- Scoring
    CASE
        WHEN t.season IS NOT NULL THEN
            CASE
                WHEN t.pts > 20 THEN 'star'
                WHEN t.pts > 15 THEN 'good'
                WHEN t.pts > 10 THEN 'average'
                ELSE 'bad'
            END::scoring_class
        ELSE y.scoring_class
    END AS scoring_class,
    -- Years active
    CASE WHEN t.season IS NOT NULL THEN 0
        ELSE y.years_since_last_season + 1
    END AS years_since_last_season,
    -- Update for current_season,
    COALESCE(t.season[:4]::INTEGER, y.current_season+1) AS current_season
FROM today t
FULL OUTER JOIN yesterday y
ON t.player_name = y.player_name;

shape: (5, 13)
┌────────────┬──────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ player_nam ┆ age  ┆ team_abbre ┆ college    ┆ … ┆ season_sta ┆ scoring_c ┆ years_sin ┆ current_s │
│ e          ┆ ---  ┆ viation    ┆ ---        ┆   ┆ ts         ┆ lass      ┆ ce_last_s ┆ eason     │
│ ---        ┆ f64  ┆ ---        ┆ str        ┆   ┆ ---        ┆ ---       ┆ eason     ┆ ---       │
│ str        ┆      ┆ str        ┆            ┆   ┆ list[struc ┆ cat       ┆ ---       ┆ i32       │
│            ┆      ┆            ┆            ┆   ┆ t[5]]      ┆           ┆ i32       ┆           │
╞════════════╪══════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ Dennis     ┆ 37.0 ┆ CHI        ┆ Southeaste ┆ … ┆ [{1997,80, ┆ bad       ┆ 0         ┆ 1997      │
│ Rodman     ┆      ┆            ┆ rn         ┆   ┆ 4.7,15.0,2 ┆           ┆           ┆           │
│            ┆      ┆            ┆ Oklahoma   ┆   ┆ .9}]       ┆           ┆           ┆           │
│            ┆      ┆            ┆ State      ┆   ┆            ┆           ┆           ┆           │
│ Dennis     ┆ 29.0 ┆ PHX        ┆ Georgia    ┆ … ┆ [{1997,81, ┆ average   ┆ 0         ┆ 1997      │
│ Scott      ┆      ┆            ┆ Tech       ┆   ┆ 11.0,3.0,1 ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ .9}]       ┆           ┆           ┆           │
│ Michael    ┆ 35.0 ┆ CHI        ┆ North      ┆ … ┆ [{1997,82, ┆ star      ┆ 0         ┆ 1997      │
│ Jordan     ┆      ┆            ┆ Carolina   ┆   ┆ 28.700001, ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ 5.8,3.5}]  ┆           ┆           ┆           │
│ Spud Webb  ┆ 34.0 ┆ ORL        ┆ North      ┆ … ┆ [{1997,4,3 ┆ bad       ┆ 0         ┆ 1997      │
│            ┆      ┆            ┆ Carolina   ┆   ┆ .0,0.8,1.3 ┆           ┆           ┆           │
│            ┆      ┆            ┆ State      ┆   ┆ }]         ┆           ┆           ┆           │
│ Mark       ┆ 33.0 ┆ PHX        ┆ Seton Hall ┆ … ┆ [{1997,70, ┆ bad       ┆ 0         ┆ 1997      │
│ Bryant     ┆      ┆            ┆            ┆   ┆ 4.2,3.5,0. ┆           ┆           ┆           │
│            ┆      ┆            ┆            ┆   ┆ 7}]        ┆           ┆           ┆           │
└────────────┴──────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [16]:
for year in range(1998,2022):
    season = '-'.join([str(year+1),str(year+2)[2:]])
    query = qr.format(current_season=year, season=season)
    # print(query)
    query_insert = """INSERT INTO players""" + query
    # print(f"Inserted: {season}")
    con.sql(query_insert)

In [17]:
qr="""
SELECT COUNT(*), player_name FROM players
GROUP BY player_name
HAVING COUNT(*)>1
LIMIT 5;
"""
display(
    con.sql(qr).pl()
)

shape: (5, 2)
┌──────────────┬─────────────────┐
│ count_star() ┆ player_name     │
│ ---          ┆ ---             │
│ i64          ┆ str             │
╞══════════════╪═════════════════╡
│ 24           ┆ Derrick Coleman │
│ 24           ┆ Kevin Ollie     │
│ 24           ┆ Gerard King     │
│ 24           ┆ Chris Childs    │
│ 24           ┆ Bob Sura        │
└──────────────┴─────────────────┘

In [18]:
qr = """
SELECT * FROM players
WHERE player_name='Michael Curry'
AND current_season=2022
"""
dfr=con.sql(qr).pl()
display(dfr)

shape: (1, 13)
┌────────────┬─────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ player_nam ┆ age ┆ team_abbre ┆ college    ┆ … ┆ season_sta ┆ scoring_cl ┆ years_sin ┆ current_s │
│ e          ┆ --- ┆ viation    ┆ ---        ┆   ┆ ts         ┆ ass        ┆ ce_last_s ┆ eason     │
│ ---        ┆ i32 ┆ ---        ┆ str        ┆   ┆ ---        ┆ ---        ┆ eason     ┆ ---       │
│ str        ┆     ┆ str        ┆            ┆   ┆ list[struc ┆ cat        ┆ ---       ┆ i32       │
│            ┆     ┆            ┆            ┆   ┆ t[5]]      ┆            ┆ i32       ┆           │
╞════════════╪═════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Michael    ┆ 36  ┆ IND        ┆ Georgia    ┆ … ┆ [{1999,82, ┆ bad        ┆ 18        ┆ 2022      │
│ Curry      ┆     ┆            ┆ Southern   ┆   ┆ 6.2,1.3,1. ┆            ┆           ┆           │
│            ┆     ┆            ┆            ┆   ┆ 1},        ┆            ┆           ┆           │
│            ┆     ┆            ┆            ┆   ┆ {2000,…    ┆            ┆           ┆           │
└────────────┴─────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [19]:
qr = """
SELECT
    player_name,
    array_length(season_stats) AS total_seasons,
    (season_stats[1]::season_stats).pts AS first_season,
    (season_stats[array_length(season_stats)]::season_stats).pts AS last_season,
FROM players
WHERE player_name='Michael Curry'
AND current_season=2022
"""
dfr=con.sql(qr).pl()
display(dfr)

shape: (1, 4)
┌───────────────┬───────────────┬──────────────┬─────────────┐
│ player_name   ┆ total_seasons ┆ first_season ┆ last_season │
│ ---           ┆ ---           ┆ ---          ┆ ---         │
│ str           ┆ i64           ┆ f32          ┆ f32         │
╞═══════════════╪═══════════════╪══════════════╪═════════════╡
│ Michael Curry ┆ 6             ┆ 6.2          ┆ 1.7         │
└───────────────┴───────────────┴──────────────┴─────────────┘

In [20]:
qr = """
WITH points_fl AS (
SELECT
    player_name,
    array_length(season_stats) AS total_seasons,
    (season_stats[1]::season_stats).pts AS first_season,
    (season_stats[array_length(season_stats)]::season_stats).pts AS last_season,
    current_season
FROM players
)
SELECT
    player_name,
    total_seasons,
    last_season /
        CASE
            WHEN first_season=0 THEN 1 ELSE first_season
        END
    AS ratio,
    current_season
FROM points_fl
WHERE current_season=2022
ORDER BY ratio DESC
LIMIT 10
"""
dfr=con.sql(qr).pl()
display(dfr)

shape: (10, 4)
┌──────────────────┬───────────────┬───────────┬────────────────┐
│ player_name      ┆ total_seasons ┆ ratio     ┆ current_season │
│ ---              ┆ ---           ┆ ---       ┆ ---            │
│ str              ┆ i64           ┆ f32       ┆ i32            │
╞══════════════════╪═══════════════╪═══════════╪════════════════╡
│ Brandon Williams ┆ 2             ┆ 42.999996 ┆ 2022           │
│ David Wingate    ┆ 2             ┆ 20.0      ┆ 2022           │
│ Ndudi Ebi        ┆ 2             ┆ 16.875    ┆ 2022           │
│ Pavel Podkolzin  ┆ 2             ┆ 15.0      ┆ 2022           │
│ Julius Randle    ┆ 9             ┆ 12.55     ┆ 2022           │
│ Terry Rozier     ┆ 8             ┆ 11.722222 ┆ 2022           │
│ Nathan Jawai     ┆ 2             ┆ 10.666666 ┆ 2022           │
│ Jared Harper     ┆ 3             ┆ 10.571429 ┆ 2022           │
│ Nick Richards    ┆ 3             ┆ 10.25     ┆ 2022           │
│ Louis King       ┆ 4             ┆ 10.0      ┆ 2022           │
└──────────────────┴───────────────┴───────────┴────────────────┘